.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  ul.mainMenu {
      margin: 0;
      padding: 0;
      float: right;
      padding: 0;
      list-style-type: none;
      display: block;

      li {
          &:first-child {
              border: none;
          }

          a {
              cursor: pointer !important;
              white-space: nowrap;
          }
      }

      .topmenu {
          float: left;
          line-height: 30px;
          margin: 0 0 0 0;
          *margin: 0 9px 0 0;
          padding: 0;
          position: relative;
          /* border-left: solid 1px #c9d1e3; */

          .topmenutxt {
              display: block;
              float: left;
              padding: 5px 15px 5px 15px;
              text-decoration: none;

              &:hover {
                  color: #000000;
                  /* background: url("") no-repeat center 0; */
              }
          }

          .submenu {
              position: absolute;
              top: 40px;
              left: 0px;
              margin: 0;
              padding: 0px;
              list-style-type: none;
              display: none;
              background-color: #d9e5f1;
              -moz-border-radius-bottomleft: 5px;
              -moz-border-radius-bottomright: 5px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              -webkit-border-bottom-left-radius: 5px;
              -webkit-border-bottom-right-radius: 5px;

              .submenuli {
                  margin: 0 1px 0 0;
                  padding: 0;
                  position: relative;
                  border-top: 1px solid #c5d8ff;
                  line-height: 16px;

                  .submenutxt {
                      display: block;
                      padding: 7px 10px 7px 10px;
                      text-align: left;
                      text-decoration: none;
                      color: #000000;
                      width: 154px;

                      &:hover {
                          background: rgb(41, 78, 150);
                          color: #ffffff;
                      }
                  }
              }
          }

          &:hover {
              .submenu {
                  display: block;
              }
          }
      }
  }
}
